*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{

    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: Arial, sans-serif;

    background-image: url("/static/hiii.png");

    background-size: cover;

    background-position: center;

    background-repeat: no-repeat;

    background-attachment: fixed;
}

.container,
.card{

    width: 380px;

    padding: 30px;

    border-radius: 25px;

    background: rgba(255,255,255,0.18);

    backdrop-filter: blur(4px);

    box-shadow: 0 8px 32px rgba(0,0,0,0.25);

    text-align: center;

    color: white;
}

h1{

    font-size: 42px;

    margin-bottom: 15px;

    color: #00d4ff;

    font-weight: bold;
}

p{

    margin-bottom: 25px;

    color: #f1f1f1;

    font-size: 20px;
}

input,
select{

    width: 100%;

    padding: 12px;

    margin: 12px 0;

    border: none;

    border-radius: 12px;

    font-size: 16px;

    background: rgba(255,255,255,0.9);

    color: #333;
}

input:focus,
select:focus{

    outline: none;

    box-shadow: 0 0 10px #00d4ff;
}

button,
a{

    display: inline-block;

    width: 100%;

    padding: 14px;

    margin-top: 18px;

    border: none;

    border-radius: 12px;

    background: linear-gradient(135deg,#00c6ff,#0072ff);

    color: white;

    font-size: 20px;

    font-weight: bold;

    text-decoration: none;

    cursor: pointer;

    transition: 0.3s;
}

button:hover,
a:hover{

    transform: scale(1.03);

    opacity: 0.95;
}

.bmi{

    font-size: 65px;

    font-weight: bold;

    margin: 20px 0;

    text-shadow: 2px 2px 10px rgba(0,0,0,0.3);
}

.status{

    font-size: 30px;

    font-weight: bold;

    margin-bottom: 20px;
}

.info{

    color: #f1f1f1;

    line-height: 1.6;

    margin-bottom: 25px;

    font-size: 18px;
}
